# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
*.egg-info/

# Node / Next.js
frontend/node_modules/
frontend/.next/
frontend/out/

# Data & Models 
data/raw/
data/processed/
ml_engine/models/*.pkl
ml_engine/models/*.h5

# Environment Variables
.env